* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh; }

header {
  height: 15vh;
  background-color: lightgreen; }

footer {
  height: 10vh;
  background-color: lightcoral; }

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 75vh; }

#carrito {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  min-height: 100%;
  width: 30%;
  border: solid 1px black;
  background-color: lightblue; }
  #carrito h2 {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    margin: 15px 0px; }
  #carrito #carrito__tratamientos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    width: 100%; }
    #carrito #carrito__tratamientos .carrito__tratamientos__item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 10px;
      width: 95%;
      height: 70px;
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }
      #carrito #carrito__tratamientos .carrito__tratamientos__item .item__tipo__tratamiento {
        margin-left: 10px;
        width: 60px;
        height: 60px;
        aspect-ratio: 1;
        border: 1px solid black;
        border-radius: 50%;
        background-color: lightcyan; }
      #carrito #carrito__tratamientos .carrito__tratamientos__item .item__info {
        display: flex;
        flex-direction: column; }
        #carrito #carrito__tratamientos .carrito__tratamientos__item .item__info .item__nombre {
          font-weight: 600;
          font-size: x-large; }
        #carrito #carrito__tratamientos .carrito__tratamientos__item .item__info .item__fecha {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: large; }
          #carrito #carrito__tratamientos .carrito__tratamientos__item .item__info .item__fecha .item__fecha__boton {
            color: rgba(255, 0, 0, 0.6);
            cursor: pointer; }
            #carrito #carrito__tratamientos .carrito__tratamientos__item .item__info .item__fecha .item__fecha__boton :hover {
              color: red; }
      #carrito #carrito__tratamientos .carrito__tratamientos__item .item__precio__eliminar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        text-decoration: none; }
        #carrito #carrito__tratamientos .carrito__tratamientos__item .item__precio__eliminar .item__eliminar {
          color: rgba(255, 0, 0, 0.6);
          margin-top: 10px;
          margin-right: 10px;
          cursor: pointer; }
          #carrito #carrito__tratamientos .carrito__tratamientos__item .item__precio__eliminar .item__eliminar :hover {
            color: red; }
        #carrito #carrito__tratamientos .carrito__tratamientos__item .item__precio__eliminar .item__precio {
          margin-right: 10px;
          margin-bottom: 5px;
          font-size: 30px; }
  #carrito #infoTotal {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    #carrito #infoTotal #total .subtotal {
      font-size: x-large;
      color: blue; }
    #carrito #infoTotal #total .descuento {
      font-size: medium;
      color: green; }
    #carrito #infoTotal #total .total {
      font-weight: bolder;
      font-size: xx-large;
      color: red; }
    #carrito #infoTotal #btnPagar {
      width: 100px;
      height: 40px;
      cursor: pointer;
      box-shadow: inset 0px 1px 0px 0px #f29c93;
      background-color: red;
      border-radius: 6px;
      border: 1px solid black;
      display: inline-block;
      color: #ffffff;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0px 1px 0px #b23e35; }
      #carrito #infoTotal #btnPagar:active {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3); }
      #carrito #infoTotal #btnPagar:hover {
        background-color: #ffffff;
        color: red; }
  #carrito #divCupon {
    margin-bottom: 20px; }
    #carrito #divCupon #cupon {
      text-indent: 10px;
      font-size: 16px;
      border-color: #cccccc;
      border-style: solid;
      border-radius: 15px;
      padding: 3px;
      border-width: 2px;
      box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
      font-weight: normal;
      font-style: none;
      font-family: sans-serif; }
    #carrito #divCupon #btnCupon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer; }

#sectorCompra {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-evenly; }
  #sectorCompra .boton-volver {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 100px;
    cursor: pointer;
    width: 200px;
    height: 40px;
    z-index: 10; }
    #sectorCompra .boton-volver p {
      font-weight: bolder; }
    #sectorCompra .boton-volver:hover {
      background-color: lightblue; }
  #sectorCompra .columna {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    #sectorCompra .columna .listadoTratamientos {
      display: flex;
      flex-direction: column;
      padding: 2px;
      border: solid 1px black;
      border-radius: 10px; }
      #sectorCompra .columna .listadoTratamientos h2 {
        border-bottom: 1px solid black;
        text-align: center;
        margin-bottom: 5px;
        margin-inline: 25px; }
      #sectorCompra .columna .listadoTratamientos .contenedorCategoria {
        display: flex;
        flex-direction: column;
        gap: 2px; }
        #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemParaComprar {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          border: 1px solid black;
          border-radius: 5px;
          margin: 0px 10px;
          padding: 1px 10px;
          gap: 10px; }
          #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemParaComprar .itemParaComprar__Nombre {
            width: 300px; }
          #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemParaComprar .imgInfo {
            cursor: pointer; }
          #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemParaComprar .imgCarrito {
            cursor: pointer; }
        #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemListado {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          margin: 0px 10px;
          padding: 1px 10px;
          cursor: pointer; }
          #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemListado .imgInfo, #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemListado .imgCarrito {
            display: none; }
          #sectorCompra .columna .listadoTratamientos .contenedorCategoria .itemListado .itemParaComprar__Nombre {
            width: auto; }

.cuerpoCompleto {
  height: 100%;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .cuerpoCompleto .parteCuerpo {
    height: 500px;
    width: auto; }
  .cuerpoCompleto #imgCuerpoCabeza {
    clip-path: polygon(0 0, 100% 0, 100% 21%, 0 21%);
    position: absolute; }
  .cuerpoCompleto #imgCuerpoCuerpo {
    clip-path: polygon(100% 81%, 100% 48%, 66% 48%, 66% 20%, 0 20%, 0 81%);
    position: absolute; }
  .cuerpoCompleto #imgCuerpoPies {
    clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
    position: absolute; }
  .cuerpoCompleto #imgCuerpoManos {
    clip-path: polygon(63% 20%, 100% 20%, 100% 51%, 63% 43%);
    position: absolute; }

.popover {
  position: absolute;
  top: -78px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  background-color: lightblue;
  opacity: 1;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .popover .popoverHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px; }
    .popover .popoverHeader .cerrarPopover {
      width: 30px;
      height: 30px;
      cursor: pointer;
      color: rgba(255, 0, 0, 0.6); }
      .popover .popoverHeader .cerrarPopover :hover {
        color: red; }
  .popover .popoverBody {
    margin: 5px 10px; }
