* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer{
    height: 100px;
    background-color: lightcoral;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#carrito{
    height: 100%;
    width: 30%;
    border: solid 1px black;
    background-color: lightblue;

    h2{
        font-size: 36px;
        text-align: center;
        font-weight: bolder;
    }

    #carrito__tratamientos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        width: 100%;

        .carrito__tratamientos__item{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
            width: 95%;
            height: 70px;

            .item__tipo__tratamiento{
                margin-left: 10px;
                width: 60px;
                height: 60px;
                border: 1px solid black;
                border-radius: 50%;
                background-color: lightcyan;
            }

            .item__info{
                display: flex;
                flex-direction: column;

                .item__nombre{
                    font-weight: 600;
                    font-size: x-large;
                }

                .item__fecha{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    font-size: large;

                    .item__fecha__boton{
                        color: rgba(255, 0, 0, 0.6);
                        cursor: pointer;

                        :hover{
                            color: red;
                        }
                    }
                }
            }


            .item__precio__eliminar{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                text-decoration: none;

                .item__eliminar{
                    color: rgba(255, 0, 0, 0.6);
                    margin-top: 10px;
                    margin-right: 10px;

                    :hover{
                        color: red;
                    }
                }
                .item__precio{
                    margin-right: 10px;
                    margin-bottom: 5px;
                    font-size: 30px;
                }

            }
        }
    }

    #cupon { 
        position: relative;
        text-indent: 10px;
        font-size:16px; 
        border-color:#cccccc; 
        border-style:solid; 
        border-radius:15px; 
        padding:3px; 
        border-width:2px; 
        box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75); 
        font-weight:normal; 
        font-style:none; 
        font-family:sans-serif;
        
        :focus { outline:none; } 

    }
}