* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    #btnAdministrador{
        cursor: pointer;
        position: absolute;
        right: 10px;
    }

    h1{
        font-size: xx-large;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
    .redesSociales{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 300px;

        img{
            width: 30px;
            aspect-ratio: 1;
        }
    }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    height: 15vh;
    background-color: lightgreen

} 
footer{
    height: 10vh;
    background-color: lightcoral;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 75vh;
}

#carrito{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    width: 30%;
    border: solid 1px black;
    background-color: lightblue;

    h2{
        font-size: 36px;
        text-align: center;
        font-weight: bolder;
        margin: 15px 0px;
    }

    #carrito__tratamientos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        width: 100%;

        .carrito__tratamientos__item{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid black;
            border-radius: 10px;
            width: 95%;
            height: 70px;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

            .item__tipo__tratamiento{
                margin-left: 10px;
                width: 60px;
                height: 60px;
                aspect-ratio: 1;
                border: 1px solid black;
                border-radius: 30%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                }
            }

            .item__info{
                display: flex;
                flex-direction: column;

                .item__nombre{
                    font-weight: 600;
                    font-size: x-large;
                }

                .item__fecha{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    font-size: large;

                    .item__fecha__boton{
                        color: rgba(255, 0, 0, 0.6);
                        cursor: pointer;
                        :hover{
                            color: red;
                        }
                    }
                }
            }


            .item__precio__eliminar{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                text-decoration: none;

                .item__eliminar{
                    color: rgba(255, 0, 0, 0.6);
                    margin-top: 10px;
                    margin-right: 10px;
                    cursor: pointer;

                    :hover {
                    color: red;
                    }
                }
                .item__precio{
                    margin-right: 10px;
                    margin-bottom: 5px;
                    font-size: 30px;
                }
            }
        }
    }

    #infoTotal{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #total{
            .subtotal{
                font-size: x-large;
                color: blue
            }
            .descuento{
                font-size: medium;
                color: green;
            }
            .total{
                font-weight: bolder;
                font-size: xx-large;
                color: red;
            }
            
            }
    
            #btnPagar {
                width: 100px;
                height: 40px;
                cursor: pointer;
                box-shadow: inset 0px 1px 0px 0px #f29c93;
                background-color: red;
                border-radius: 6px;
                border: 1px solid black;
                display: inline-block;
                color: #ffffff;
                font-size: 15px;
                font-weight: bold;
                text-decoration: none;
                text-shadow: 0px 1px 0px #b23e35;

                &:active{
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
                }

                &:hover{
                    background-color: #ffffff;
                    color: red
                }
            }
    }


    #divCupon{
        margin-bottom: 20px;
        #cupon { 
            text-indent: 10px;
            font-size:16px; 
            border-color:#cccccc; 
            border-style:solid; 
            border-radius:15px; 
            padding:3px; 
            border-width:2px; 
            box-shadow: 0px 0px 5px 0px rgba(42,42,42,.75); 
            font-weight:normal; 
            font-style:none; 
            font-family:sans-serif;
        }

        #btnCupon{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            }
    }
}

#sectorCompra{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-evenly;

    .boton-volver{
        display: none;
        flex-direction: row;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 100px;
        cursor: pointer;
        width: 300px;
        height: 40px;
        z-index: 10;

        img{
            height: 40px;
            width: auto;
        }

        p{
            font-weight: bolder;
        }

        &:hover{
            background-color: lightblue;
        }

    }

    .columna{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    .listadoTratamientos{
        display: flex;
        flex-direction: column;
        padding: 2px;
        border: solid 1px black;
        border-radius: 10px;
        

        h2{
            border-bottom: 1px solid black;
            text-align: center;
            margin-bottom: 5px;
            margin-inline: 25px;
        }

        .contenedorCategoria{
            display: flex;
            flex-direction: column;
            gap: 2px;


            .itemParaComprar{
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border: 1px solid black;
                border-radius: 5px;
                margin: 0px 10px;
                padding: 1px 10px;
                gap: 10px;

                .itemParaComprar__Nombre{
                    width: 300px;
                }

                .imgInfo{
                    cursor: pointer;
                    &:hover{
                        filter: drop-shadow(0px 0px 2px blue);;
                    }
                }

                
                
                .imgCarrito{
                    cursor: pointer;
                    &:hover{
                        filter: drop-shadow(0px 0px 2px red)
                    }
                }
            }

            .itemListado{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
                margin: 0px 10px;
                padding: 1px 10px;
                cursor: pointer;

                .imgInfo, .imgCarrito{
                    display: none;
                }

                .itemParaComprar__Nombre{
                    width: auto;
                }
            }
        }
    }
}
}

.cuerpoCompleto{
    height: 100%;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .parteCuerpo{
        height: 500px;
        width: auto;
    }

    #imgCuerpoCabeza{
        clip-path: polygon(0 0, 100% 0, 100% 21%, 0 21%);
        position: absolute;
    }
    #imgCuerpoCuerpo {
        clip-path: polygon(100% 81%, 100% 48%, 66% 48%, 66% 20%, 0 20%, 0 81%);
        position: absolute;
    }
    #imgCuerpoPies {
        clip-path: polygon(0 80%, 100% 80%, 100% 100%, 0 100%);
        position: absolute;
    }
    #imgCuerpoManos {
        clip-path: polygon(63% 20%, 100% 20%, 100% 51%, 63% 43%);
        position: absolute;
    }
}
.popover{
    position: absolute;
    top: -78px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: rgb(64, 174, 211);
    opacity: 1;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    .popoverHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;

        .cerrarPopover {
            width: 30px;
            height: 30px;
            cursor: pointer;
            color: rgba(255, 0, 0, 0.6);
            
            :hover{
                color: red
            }
        }
    }

    .popoverBody{
        margin: 5px 10px;
    }
}

#modal{
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    background-color: unset;
    border: none;
}

.cuerpoModal {
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 15px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightsalmon;
    padding: 15px;

    .modal__header{
        border-bottom: 0.5px solid black;
        padding-bottom: 10px;
        h2{
            text-align: center;
        }
    }


    .modal__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        overflow-y: auto;
        overflow-x: hidden;

        .modal__body__tratamientos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .tratamiento__modal {
                width: 70%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 50px;
                font-size: medium;
                border-bottom: 0.5px black solid;
                padding-top: 5px;

                span {
                    width: 50%;
                }

                .tratamiento__modal__nombre {
                    text-align: right;
                }

                .tratamiento__modal__fecha {
                    text-align: left;
                }
            }
        }
        
    }

    .modal__footer {

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        align-items: center;
        border-top: 0.5px solid black;
        padding-top: 10px;
        
        .modal__footer__totales{
            display: flex;
            flex-direction: column;
            align-items: center;

            .modal__footer__totales__subtotal{
                font-size: large;
                color: blue
            }
            .modal__footer__totales__descuento{
                font-size: medium;
                color: green;
            }
            .modal__footer__totales__total{
                font-weight: bolder;
                font-size: x-large;
                color: red;
            }
        }
        
        #pagar {
            width: 150px;
            height: 40px;
            cursor: pointer;
            box-shadow: inset 0px 1px 0px 0px #f29c93;
            background-color: red;
            border-radius: 6px;
            border: 1px solid black;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 0px 1px 0px #b23e35;

            &:active {
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
            }

            &:hover {
                background-color: #ffffff;
                color: red
            }
        }

        #cancelar {
            width: 150px;
            height: 40px;
            cursor: pointer;
            box-shadow: inset 0px 1px 0px 0px #93f2ae;
            background-color: green;
            border-radius: 6px;
            border: 1px solid black;
            display: inline-block;
            color: #ffffff;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
            text-shadow: 0px 1px 0px #93f2ae;

            &:active {
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3);
            }

            &:hover {
                background-color: #ffffff;
                color: green
            }
        }
    }
}

table.body-tabla {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 50px;
}

table.body-tabla td,
table.body-tabla th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

table.body-tabla tbody td {
    font-size: 13px;
}

table.body-tabla tr:nth-child(even) {
    background: #F5C8BF;
}

table.body-tabla tr td:last-child, 
table.body-tabla tr td:first-child {
    text-align: center;
}

table.body-tabla thead {
    background: #A40808;
}

table.body-tabla thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #A40808;
}

table.body-tabla thead th:first-child {
    border-left: none;
}

table.body-tabla tfoot td {
    font-size: 13px;
}

table.body-tabla tfoot .links {
    text-align: left;
}

table.body-tabla tfoot .links a {
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}

.modalFecha{
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 25px;
    right: -50px;
    background-color: grey;
    color: white;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    border: 1px solid black;

    form{
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        label{
            width: 80%;
        }

        input{
            width: 80%;
        }

        select{
            width: 80%;
        }
        button{
            width: 80%;
            border-radius: 5px;
        }
    }
}